.center-div
{
	position: 		fixed;	right: 0;  bottom: 30px;  left: 0;
	width: 			300px;
	line-height:		2em;  
	margin: 		auto;
	border-radius: 		3px;
	border: 		1px solid red; 
	color:			white;
	background:		rgba(255,0,0,.75);
	font-weight:		200;
	text-align:		center;
}

.blink_me 
{
	animation: blinker 3.5s ease infinite;
}

@keyframes blinker 
{
	50% { opacity: 0;  }
}

 
